

/* Reset */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/*Global styles  */
:root{
    /* colors */
    --Dark-Blue:hsl(209, 23%, 22%);
   --Very-Dark: hsl(207, 26%, 17%);
   --Very-Dark: hsl(200, 15%, 8%);
   --Dark-Gray:hsl(0, 0%, 52%);
   --Very-Light-Gray:hsl(0, 0%, 98%);
   --White:hsl(0, 0%, 100%);

   /* Typography */
   --size:14px;
   /* fonts */
   --lightBold:300,
   --mediumBold:600,
   --veryBold:800,
}

/* body */
body{
    font-family:'Nunito Sans', sans-serif;
}